@import "../../../App.scss";

.header {
  display: flex;
  padding: 0.8em 0 0.8em 0;
  align-items: center;
}

.header__logo {
  flex-grow: 3;
  margin-left: 0.6em;
}
.header__logo a {
  text-decoration: none;
  color: var(--black) !important;
}

.header__logoBold {
  font-family: $poppinsSemiBold;
  margin-left: 0.3em;
}
.header__menu {
  display: flex;
  justify-content: flex-end;
  flex-grow: 8;
}
.header__menu a {
  cursor: pointer;
  text-decoration: none;
  color: var(--black) !important;
  margin-right: 1.8em;
}

.header__menu a:hover {
  color: var(--grey);
  transition-duration: 0.6s;
}

// Hide the hamburger icon (Desktop and tablet view)
.header__menu .header__hamBurger {
  cursor: pointer;
  display: none;
}

#header__darkModeButton {
  margin-top: 10px !important;
}
/* Media Queries */
@media (max-width: 650px) {
  .header__menu .header__menuList {
    display: none;
  }
  .header__menu .header__hamBurger {
    margin-right: 1em;
    display: block;
  }
}
