@import "../../../App.scss";

.banner {
  display: flex;
  height: 70vh;
  //   border: 1px solid #000;
}

.banner__avatar {
  border: 10px solid var(--white);
  border-radius: 1em;
  background-color: var(--pink);
}

.banner__title h2 {
  font-size: 3em;
}

.banner__title h2:after {
  display: block;
  text-align: center;
  font-family: $poppinsRegular !important;
  font-size: 18px;
  color: var(--darkBlue);
  margin-top: 0.5em;
  content: "I have won some national level coding competitions.";
}

/* Media Queries */
@media (max-width: 650px) {
  .banner {
    margin-top: 5em;
  }
}
