//Light theme
html {
  --bg-color: #f8fafd;
  --white: #fff;
  --black: #000;
  --grey: #87898d;
  --darkGrey: #545564;
  --yellow: #fbee4e;
  --darkBlue: #2c3e50;
  --blue: #3579df;
  --pink: #f5a4be;
}

// dark theme
html[data-theme="dark"] {
  --bg-color: #1b1d1e;
  --black: #e8e6e3;
  --yellow: #16317b;
  --darkBlue: #9eb3cc;
  --pink: #661c29;
}

@font-face {
  font-family: poppinsRegular;
  src: url("./fonts/poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: poppinsSemiBold;
  src: url("./fonts/poppins/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: poppinsBold;
  src: url("./fonts/poppins/Poppins-Bold.ttf");
}

// Fonts
$poppinsRegular: poppinsRegular;
$poppinsSemiBold: poppinsSemiBold;
$poppinsBold: poppinsBold;

body {
  margin-top: 0;
  padding: 0;
  color: var(--black);
  background-color: var(--bg-color);
  font-family: $poppinsRegular;
}

::selection {
  background: var(--yellow);
}

a {
  color: var(--blue);
}

a:visited {
  color: var(--blue);
}
